$step-counter-color: #CC835C;
$text-color: black;
$background-color: #EEE2D7;

.topContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .imageContainer > img{
    margin: 20px 40px 20px 20px;
    width: 30vw;
    height: 70vh;
  }
}

.topFragment {
  width: 90%;
  max-width: 600px;
  // display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-color;
  margin: auto;
  margin-top: 70px;

  .stepCounter {
    p {
      color: $step-counter-color;
      text-align: center;
      font-size: medium;

    }

    hr {
      width: 200px;
      border: 1px solid $step-counter-color;
    }
  }

  .questionBlock {
    margin-top: 100px;
    width: 100%;
    // border: 2px solid black;//
  }

}

.btn {
  height: 50px;
  width: 100px;
  font-size: 24px;
  color: white;
  text-align: center;
  background-color: rgb(245, 19, 139);
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.btnSuccess {
  width: 100%;
  background-color: rgb(19, 51, 19);
  color: white;
  margin-top: 20px;
}
.floatRight {
  float: right;
}
.floatLeft {
  float: left;
}
.step {
  text-align: center;
}

.formGroup {
  display: block;
  margin: auto;

  .subLabel{
    margin-top: 10px;
    margin-bottom: -20px;
    padding: 0;
  }

  .radioWrapper {
    margin-top: 20px;
  }
  label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
  }

  input {
    width: 100%;
    padding: 10px 0;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 32px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background: transparent;
  }

  .radio {
    border-radius: 5px;
    max-width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    box-shadow: 1px 1px 4px rgb(209, 209, 209);
    input {
      display: none;
    }
    label {
      font-size: 20px;
      cursor:pointer;
    }
    
  }
  .inputOption {
    margin: 0;
    width: 60%;
  }

  .inputOptionPrice {
    margin: 0;
    width: 20%;
    float: right;
  }
  .inputOptionImg {
    display: none;
    
  }
  .inputOptionImgWrapper {
    // font-size: small;
    cursor: pointer;
    margin: 10px;
    img {
      // width: 40px;
      

    }

  }
  .zeroOptions {
    // background-color: #CC835C;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .serviceWrapper {
      width: 40%;
    }
    .productWrapper {
      width: 40%;
    }
    

    .btnService {
      width: 200px;
      height: 200px;
      border-radius: 5px;
      box-shadow: 1px 1px 4px rgb(209, 209, 209);

      background: url('/service.png');
      background-repeat: no-repeat;

      background-size: 200px 200px;
    }    
    .btnProduct {
      width: 200px;
      height: 200px;
      border-radius: 5px;
      box-shadow: 1px 1px 4px rgb(209, 209, 209);

      background: url('/product.png');
      background-repeat: no-repeat;

      background-size: 200px 200px;
    }
    button {
      border: none;
      width: 100%;
      font-size: 24px;
      padding: 10px;
      margin-top: 10px;
      background: none;
      cursor: pointer;
    }
    
    p {
      font-size: 24px;
    }
  }
  .uploadImg {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border: 2px solid #ffffff;
    box-shadow: 1px 1px 4px rgb(209, 209, 209);
    border-radius: 5px;
    object-fit: cover;
  }
  .uploadImgBig {
    height: 200px;
    width: auto;
    display: block;
    margin: auto;
    align-items: center;

    border: 2px solid #ffffff;
    box-shadow: 1px 1px 4px rgb(209, 209, 209);
    border-radius: 5px;
  }
  .checked {
    background-color: #EBD8CA;
    border: 2px solid #CC835C;
  }
  // background-color: #CC835C;
  .btnOptionWrapper {
    // display: flex;
    margin: 20px 0;
    width: 100%;
    button {
      width: 100%;
      margin: 5px 0;
      font-size: 24px;
      text-align: left;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      padding: 10px; 
    }
    div{
      .textField{
        width: 80%;
        margin: 5px 0;
        font-size: 10px !important;
        text-align: left;
      }
    }
  }
}



.lastPageWrapper {
  width: 70%;
  // max-width: 500px;
  // display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-color;
  margin: auto;
  margin-top: 70px;

  .heading {
    text-align: center;
  }

  .mainContent {
    display: flex;
    button {
      cursor: pointer;
    }

    .linkAndNext {
      width: 60%;
      // background-color: #CC835C;
      .linkWrapper {
        // background-color: #EBD8CA;
        .link {
          // height: 100px;
          display: flex;
          justify-content: space-between;
          .linkText {
            width: 75%;
            background-color: white;
            padding: 10px;
            border-radius: 5px;
          }
          .btnVisitShop {
            height: 40px;
            width: 100px;
            font-size: 16px;
            color: white;
            text-align: center;
            background-color: black;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            // margin: auto;
            margin-top: 15px;
            
          }
        }
      }

      .nextWrapper {
        margin-top: 100px;
        // background-color: #CC835C;
        .btnWrapper {
          display: flex;
          justify-content: space-between;
          button {
            width: 48%;
            height: 180px;
            // margin: 10px;
            cursor: pointer;
            h3 {
              // margin-top: 20px;
            }
          }
        }
      }
    }

    .right {
      margin-left: 100px;
      width: 40%;

      .txtPreview {
        color: $step-counter-color;
      }
      .summaryWrapper {
        background-color: white;
        border-radius: 5px;
        box-shadow: 1px 1px 4px rgb(209, 209, 209);
        padding: 20px;


        hr {
          color: rgba(168, 168, 168, 0.514);
        }
        .header {

        }

        .productDetails {
          // height: 70px;
          display: flex;
          padding: 10px 0;
          // background-color: #CC835C;
          .imgProduct {
            img {
              width: 60px;
              height: 60px;
              border-radius: 5px;
              box-shadow: 1px 1px 4px rgb(209, 209, 209);
              object-fit: cover;
            }
          }
          .txtProduct {
            // background-color: #EBD8CA;
            margin-top: 10px;
            margin-left: 20px;
            h3 {
              margin: 0;
              padding: 0;
            }
            p {
              margin: 0;
              padding: 0;
            }
          }

        }
        .total {
          text-align: right;
          margin-right: 10px;
          h1 {
            margin: 0;
            padding: 0;
          }
          p {
            margin: 0;
            padding: 0;
          }
        }

        button {
          width: 100%;
          height: 40px;
          font-size: 16px;
          text-align: center;
          text-decoration: none;
          border: none;
          border-radius: 5px;
          // margin: auto;
          margin-top: 15px;
          background-color: #F37154;
      
        }
      }
    }
  }
}


